.header{position: absolute;
width: 400px;
height: 36px;
left: 798px;
top: 219px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #000000;
}
@media (max-width: 1980px){
    .header{position: absolute;
        width: 400px;
        height: 36px;
        left: 780px;
        top: 148px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        
        color: #000000;
        }
}