.header{position: absolute;
    width: 400px;
    height: 36px;
    left: 798px;
    top: 219px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    
    color: #000000;
    }
    @media (max-width: 1980px){
        .header{position: absolute;
            width: 400px;
            height: 36px;
            left: 780px;
            top: 148px;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            
            color: #000000;
            }
    }
    .password{
        position: absolute;
        height: 64px;
        left: 798px;
        right: 184px;
        top: 425px;
    }
    p{
        position: absolute;
        height: 16px;
        left: 0px;
        right: 0px;
        top: 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: #5F5F5F;
    }
    input{
        box-sizing: border-box;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 32px;
        bottom: -10px;
        background: #FCFDFE;
        border: 1px solid #F0F1F7;
        border-radius: 8px;
    }
    
    @media (max-width: 1980px){
        .password{
            position: absolute;
            height: 64px;
            left: 780px;
            right: 184px;
            top: 354px;
        }
        
    }
    .email{
        position: absolute;
        height: 64px;
        left: 798px;
        right: 184px;
        top: 321px;
    }
    .text-paragraph{
    position: absolute;
    height: 16px;
    left: 0px;
    right: 0px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #5F5F5F;
    }
    input{
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 32px;
    bottom: -10px;
    background: #FCFDFE;
    border: 1px solid #F0F1F7;
    border-radius: 8px;
    }
    @media (max-width: 1980px){
        .email{
            position: absolute;
            height: 64px;
            left: 780px;
            right: 184px;
            top: 250px;
        }
    }